Exclude any content that encourages followers to subscribe, like videos, or promotes products or services not related to the video content. Besides, when generating, you must correct any spelling discrepancies in the transcribed text. Make sure that the names of the following products are spelled correctly: DALL-E, {{ careful_words }}.
Provide it in language {{ language }}.
{% block content %}
Provide it in simple text format
{% endblock %}
